<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeebase.wechat.wechat.mapper.WechatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeebase.wechat.wechat.entity.Wechat">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="headimgurl" property="headimgurl" />
        <result column="privilege" property="privilege" />
        <result column="unionid" property="unionid" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openid, nickname, sex, province, city, country, headimgurl, privilege, unionid, create_time, creator, update_time, operator, del_flag
    </sql>

</mapper>
