<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeebase.system.common.mapper.DistrictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeebase.system.common.entity.District">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="initial" property="initial" />
        <result column="initials" property="initials" />
        <result column="pinyin" property="pinyin" />
        <result column="suffix" property="suffix" />
        <result column="code" property="code" />
        <result column="order" property="order" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, initial, initials, pinyin, suffix, code, order
    </sql>

</mapper>
