<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeebase.system.security.mapper.DataPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeebase.system.security.entity.DataPermission">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="ORGANIZATION_ID" property="organizationId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="OPERATOR" property="operator" />
        <result column="DEL_FLAG" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, ORGANIZATION_ID, CREATE_TIME, CREATOR, UPDATE_TIME, OPERATOR, DEL_FLAG
    </sql>

</mapper>
