<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeebase.system.security.mapper.OrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jeebase.system.security.entity.Organization">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="organization_type" property="organizationType" />
        <result column="organization_name" property="organizationName" />
        <result column="organization_key" property="organizationKey" />
        <result column="organization_icon" property="organizationIcon" />
        <result column="organization_level" property="organizationLevel" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="street" property="street" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, organization_type, organization_name, organization_key, organization_icon, organization_level, province, city, area, street, description, create_time, creator, update_time, operator, del_flag
    </sql>
    
    <!-- 使用存储过程查询树，推荐使用 -->
    <select id="queryOrganizationTreeProc" parameterType="com.jeebase.system.security.entity.Organization" resultType="com.jeebase.system.security.entity.Organization" statementType="CALLABLE">
        CALL queryOrganizationList(#{parentId,mode=IN})
    </select>

</mapper>
